venv
.env
temp
src/fruit_castle/__pycache__
src/fruit_castle/config
src/config/__pycache__
# src/fruit_castle/client

# src/docs
run_dev_mode.py



src/fruit_castle/client/dist/css/docs_style.css
src/fruit_castle/client/dist/css/test_docs_view.css
# src/fruit_castle/client/dist/images/qr_codes/


src/fruit_castle/client/dist/js/customDocs.js

src/fruit_castle/client/dist/js/testDocsView.js
src/fruit_castle/client/docs_view.html
src/fruit_castle/client/test_docs_view.html
src/fruit_castle/client/test_socket.html

src/fruit_castle/test.py
src/config

# files
MANIFEST.in
pyproject.toml
run_app.py
setup.py
test_socket.py


# docusaurus styles
src/fruit_castle/client/dashboard.html
src/fruit_castle/client/dist/js/bootstrap.bundle.min.js
src/fruit_castle/client/dist/js/dashboard.js
src/fruit_castle/client/dist/js/bootstrap.bundle.min.js.map
src/fruit_castle/client/dist/css/bootstrap.min.css
src/fruit_castle/client/dist/css/bootstrap.min.css.map
src/fruit_castle/client/dist/css/bootstrap.rtl.min.css
src/fruit_castle/client/dist/css/bootstrap.rtl.min.css.map
src/fruit_castle/client/dist/css/dashboard.css


src/fruit_castle/client/index.html
src/fruit_castle/client/error_page.html

src/fruit_castle/client/dist/js/errorPage.js
src/fruit_castle/client/dist/js/main.min.js

src/fruit_castle/client/dist/css/style.css
src/fruit_castle/client/dist/css/error_page.css

src/fruit_castle/client/dist/images/logo.svg
src/fruit_castle/client/dist/images/feature-icon-01.svg
src/fruit_castle/client/dist/images/feature-icon-02.svg
src/fruit_castle/client/dist/images/feature-icon-03.svg
src/fruit_castle/client/dist/images/feature-icon-04.svg
src/fruit_castle/client/dist/images/feature-icon-05.svg
src/fruit_castle/client/dist/images/feature-icon-06.svg
src/fruit_castle/client/dist/images/cta-illustration.svg
src/fruit_castle/client/dist/images/hero-back-illustration.svg
src/fruit_castle/client/dist/images/hero-top-illustration.svg
src/fruit_castle/client/dist/images/pricing-illustration.svg